#container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 100px;
  }

  .icons{
    color:#FFC000 ;
    font-size: 30px;
    margin-right:10px;
  }

  #rating{
    font-size: 20px;
    margin-right:50px;
  }